
<!--Name: Dominic Lau 300766421
    File name: header.ejs
    Website name: -
    Description: This file takes care of the footer portion of each webpage. -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="bottom_container">
    <h4 class = "navbar-text">&copy; 2017 Dominic Lau</h4>
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>