<!--Name: Dominic Lau 300766421
    File name: contact.ejs
    Website name: Contact Me
    Description: Display my contact information -->
<% include ../partials/header.ejs %>
  <!--MAIN CONTENT  -->
  <div class="body_container">
    <div class="row">
      <div class="col-md-offset-3 col-md-5">
        <h1 style="font-size:100px;text-align: center">
<%= title %>
  </h1>
  </div>
  <div class="col-md-offset-3 col-md-6">

  </div>
  <div class="col-md-3 col-md-offset-4">

  </div>
  <div class="col-md-3 col-md-offset-4">
    <div class=".dl_list_contactme">
      <dl>
        <dt>School email</dt>
        <dd>
          <i class="fa fa-envelope fa-2x hvr-bounce-in"><a href="mailto:dlau28@my.centennialcollege.ca">dlau28@my.centennialcollege.ca</i></a>
        </dd>
        <dt>Personal email</dt>
        <dd>
          <i class="fa fa-envelope fa-2x hvr-bounce-in"><a href="mailto:dominic.k.y.lau@gmail.com">dominic.k.y.lau@gmail.com</i></a>
        </dd>
      </dl>
    </div>
  </div>

  </div>
  </div>

  <% include ../partials/footer.ejs%>