<!--Name: Dominic Lau 300766421
    File name: projects.ejs
    Website name: Projects
    Description: Show the list of projects I worked on webpage -->

<% include ../partials/header.ejs %>
  <!--MAIN CONTENT  -->
  <div class="body_container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1 style="font-size:100px;text-align: center">
          <%= title %>
        </h1>
      </div>
      <div class = "col-xs-12 col-md-4">
        <div class ="container-fluid">
          <div class="row">
            </div>
            </div>
      </div>
      <div class = "col-xs-12 col-md-4">
        <h3 style="text-align:center">Projects I am currently working on</h3>
        <p style="text-align: center"><a href="#" class="android hvr-pulse-grow">Android application: Easy as Pi</a></p>
        <p style="text-align: center"><a href="#" class="portfolio hvr-pulse-grow">Portfolio Website</a></p>
        <p style="text-align: center"><a href="#" class="casestudy hvr-pulse-grow">Case study for Purolator ERP</a></p>

      </div>
    </div>
  </div>
<% include ../partials/footer.ejs%>