<!--Name: Dominic Lau 300766421
    File name: services.ejs
    Website name: My Services
    Description: Display the skills that I can service -->

<% include ../partials/header.ejs %>
  <!--MAIN CONTENT  -->
  <div class="body_container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1 style="font-size:100px;text-align: center">
<%= title %>
  </h1>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="container-fluid">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <dl class="dl_list_service">
      <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Mobile Android Development</p>
      </dd>
      <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Windows Applications</p>
      </dd>
      <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Manual Testing</p>
      </dd>
      <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Automation Testing</p>
      </dd>
       <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Web Development</p>
      </dd>
      <dd>
        <p class="list_service_style hvr-grow hvr-icon-pop">Systems Integration</p>
      </dd>
    </dl>




  </div>
  </div>
  </div>
  <% include ../partials/footer.ejs%>